{% extends 'manager_app/base.html' %}
{% block content %}
    <a href="/clients/add/"><button>Dodaj Klienta</button></a>
    <a href="/branch/add/"><button>Dodaj Oddział</button></a>
    {% for employee in traders %}
        <h2>{{ employee }}</h2>
            {% for branch in employee.branch_set.all %}
                <a href="/clients/{{branch.client.id}}/"> {{branch }}</a> <a href="/branch/edit/{{branch.id}}/"><button>Edytuj oddział</button></a> <a href="/branch/{{branch.id}}/orders/add/"><button type="button">Dodaj zamówienie</button></a>
            {% endfor %}
    {% endfor %}
{% endblock %}