{% extends 'manager_app/base.html' %}
{% block content %}
    <a href="/clients/add/"><button>Dodaj Klienta</button></a>
    <a href="/branch/add/"><button>Dodaj Oddział</button></a>
    <dl>
        {% for employee in traders %}
        <dt>{{ employee }}</dt>
        {% for branch in employee.branch_set.all %}
            <dd>
                <a href="/clients/{{branch.client.id}}/"> <img  src="{{branch.client.logo}}"> {{branch }}</a>
                <a href="/branch/edit/{{branch.id}}/">
                    <button>Edytuj oddział</button>
                </a>
                <a href="/branch/{{branch.id}}/orders/add/">
                    <button type="button">Dodaj zamówienie</button>
                </a>
            </dd>
        {% endfor %}
    </dl>
    {% endfor %}
{% endblock %}