{% extends 'manager_app/base.html' %}
{% block content %}
<div id="calendar-nav">
    <button type="button" id="last-week-button">Zeszły tydzień</button>
    <button type="button" id="this-week-button">Obecny tydzień</button>
    <button type="button" id="next-week-button">Przyszły tydzień</button>
</div>
<div class="calendar-position last-week">
    {% for date, form in last_week.items %}
        <div class="calendar-element" data-ldate="{{date}}">
            {{date}}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="date_cal" value="{{date}}">
                <input type="submit" value="Zapisz">
            </form>
        </div>
    {% endfor %}
</div>
<div class="calendar-position this-week">
    {% for tdate, tform in this_week.items %}
        <div class="calendar-element" data-tdate="{{tdate}}">
            {{tdate}}
            <form method="post">
                {% csrf_token %}
                {{ tform.as_p }}
                <input type="hidden" name="date_cal" value="{{tdate}}">
                <input type="submit" value="Zapisz">
            </form>
        </div>
    {% endfor %}
</div>
<div class="calendar-position next-week">
    {% for ndate, nform in next_week.items %}
        <div class="calendar-element" data-ndate="{{ndate}}">
            {{ndate}}
            <form method="post">
                {% csrf_token %}
                {{ nform.as_p }}
                <input type="hidden" name="date_cal" value="{{ndate}}">
                <input type="submit" value="Zapisz">
            </form>
        </div>
    {% endfor %}
</div>

{% endblock %}