{% extends 'manager_app/base.html' %}
{% block content %}
<div class="calendar-position">
    {% for date, form in last_week.items %}
        <div class="calendar-element">
            {{date}}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="date_cal" value="{{date}}">
                <input type="submit" value="Zapisz">
            </form>
        </div>
    {% endfor %}
</div>
<div class="calendar-position">
    {% for date, form in this_week.items %}
        <div class="calendar-element">
            {{date}}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="date_cal" value="{{date}}">
                <input type="submit" value="Zapisz">
            </form>
        </div>
    {% endfor %}
</div>
<div class="calendar-position">
    {% for date, form in next_week.items %}
        <div class="calendar-element">
            {{date}}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="date_cal" value="{{date}}">
                <input type="submit" value="Zapisz">
            </form>
        </div>
    {% endfor %}
</div>



    <!-- <table>
        <thead>
            {%for date, form in last_week.items %}
                <th>{{ date }}</th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                {% for date, form in last_week.items %}
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="date_cal" value="{{date}}">
                            <input type="submit" value="Zapisz">
                        </form>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            {%for date, form in this_week.items %}
                <th>{{ date }}</th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                {% for date, form in this_week.items %}
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="date_cal" value="{{date}}">
                            <input type="submit" value="Zapisz">
                        </form>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            {%for date, form in next_week.items %}
                <th>{{ date }}</th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                {% for date, form in next_week.items %}
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="date_cal" value="{{date}}">
                            <input type="submit" value="Zapisz">
                        </form>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table> -->
{% endblock %}