{% extends 'manager_app/base.html' %}
{% block content %}
    <dl>
        {% for status, st_orders in orders.items  %}
            <dt>{{ status }}</dt>
            {% for order in st_orders %}
                <dd>
                    {{order}} 
                    <a href="/orders/{{order.id}}/cs/"><button type="button">Obsłuż zamówienie</button></a>
                    <form method="post" action="/orders/{{order.id}}/delete/">
                        {% csrf_token %}
                        <button type="submit">Anuluj zamówienie</button></form></dd>
                {% empty %}
                <dd>Brak zamówień o tym statusie</dd>
            {% endfor %}
        {% empty %}
        {% endfor %}
    </dl>
{% endblock %}