{% extends 'manager_app/base.html' %}
{% block content %}
<a href="/batch/add/"><button type="button">Dodaj partię</button></a><a href="/variant/add/"><button type="button">Dodaj wariant</button></a><a href="/products/add/"><button type="button">Dodaj produkt</button></a>
    {% for product in products %}
    <h3>{{ product }}</h3><a href="/product/edit/{{product.id}}/"><button type="button">Edytuj produkt</button></a>
        <dl>
            {% for variant in product.variant_set.all %}
            <dt>
            {{variant}} <a href="/variant/edit/{{variant.id}}/"><button type="button">Edytuj wariant</button></a>
            </dt>
                {% for batch in variant.batch_set.all %}
                    {% if bath.is_active == true %}
                    <dd>
                        
                        <img src="{{variant.photo_main}}">
                        Numer serii: {{batch.number}}<br>
                        Ilość pakietów w magazynie: {{batch.quantity}}<br>
                        Cena netto: {{batch.netto}}<br>
                        Data przydatności do użycia: {{batch.expiration_date}}<br>
                    </dd>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </dl>
    {% endfor %}
{% endblock %}