{% extends 'trader_app/base.html' %}
{% block content %}
    <h3>{{title}}</h3>
        {% if positions %}
        <table>
            <thead>
                <tr>
                    <th>Nazwa produktu</th>
                    <th>Cena netto za sztukę</th>
                    <th>Ilość</th>
                    <th>Łącznie</th>
                    <th>Łącznie brutto</th>
                </tr>
            </thead>
            <tbody>
                {% for position in positions %}
                <tr>
                    <td>{{position.batch.variant}}</td>
                    <td>{{position.batch.netto}}zł</td>
                    <td>{{position.quantity}}(szt)</td>
                    <td>{{position.total_netto}}zł</td>
                    <td>{{position.total_brutto}}zł</td>
                    <td>
                        <form action="/trader/visit/{{visit_id}}/{{order.id}}/delete/{{position.id}}/" method="post">
                            {% csrf_token %}
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
             <form action="/trader/visit/{{visit_id}}/{{order.branch.id}}/orders/{{order.id}}/status/1/" method='post'>
                {% csrf_token %} 
                <h4>Razem: {{order.total_netto}}zł netto</h4>
                 <button type="submit">Przyjmij zamówienie</button>
            </form>
        </table>
        {% else %}
        Brak pozycji w zamówieniu
        {% endif %}
        
    <form method="post">
        <fieldset>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Dodaj do zamówienia">
        </fieldset>
    </form>
    <a href="/trader/visit/{{visit_id}}/"><button type="button">Powrót do wizyty</button></a>
{% endblock %}