{% extends 'trader_app/base.html' %}
{% block content %}
    <h3>{{ message }}</h3>
    <ul>
        <ol>
            {% for visit in visits %}
            <li>
                {{visit.client_branch}}
                <form method="post" action="{{visit.id}}/delete/">
                    {% csrf_token %}
                    <button type="submit">Usuń wizytę</button>
                </form>
            </li>
            {% empty %}
            Nie masz firm na liście
            {% endfor %}
        </ol>
    </ul>
    <form method="post">
        <fieldset>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Dodaj">
        </fieldset>
    </form>
    <a href="/trader/"><button type="button">Powrót</button></a>
    <a href="/trader/planning/"><button type="button">Inny dzień</button></a>
{% endblock %}