{% extends 'trader_app/base.html' %}
{% block content %}
<a href="/trader/visit/{{visit.id}}/products/"><button class="btn btn-leaflets" type="button">Ulotki</button></a>
<a href="/trader/visit/{{visit.id}}/{{visit.client_branch.id}}/order/add/"><button class="btn btn-add" type="button">Zamówienie</button></a>
<!-- <a href="/trader/visit//photo"><button class="btn btn-photo" type="button">Zrób zdjęcie</button></a> -->
<form enctype="multipart/form-data" method="post">
    <fieldset>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Zapisz">
    </fieldset>
</form>
<form action="/trader/visit/{{visit.id}}/visited/" method="post">
    {% csrf_token %}
    <button class="end-visit" type="submit">Zakończ wizytę</button>
</form>
{% endblock %}